{% autoescape off %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Account Verification Email</title>
</head>
<body>
    <p>สวัสดีคุณ {{user.first_name}},</p>

    <p>โปรดคลิกที่ลิงก์ด้านล่างเพื่อยืนยันการลงทะเบียนของคุณ:</p>
    <p><a href="http://{{domain}}{% url 'activate' uidb64=uid token=token %}">ยืนยันการลงทะเบียน</a></p>

    <p>หากคุณคิดว่านี่ไม่ใช่คุณ กรุณาละเว้นอีเมลนี้</p>
</body>
</html>
{% endautoescape %}
