{% extends 'base.html' %} {% load static %} {% load humanize %} 

{% block content %}

<section class="section-content padding-y bg">
    <div class="container">
        <div class="row">
            <aside class="col-md-3">
                <!--   SIDEBAR   -->
                <ul class="list-group">
                    <a class="list-group-item active" href="{% url 'dashboard' %}"> Dashboard </a>
                    <!--<a class="list-group-item" href="{% url 'refund' %}"> การคืนเงิน </a>-->
                    <a class="list-group-item" href="{% url 'setting' %}"> การตั้งค่า </a>
                    <a class="list-group-item" href="{% url 'reset_password' %}"> เปลี่ยนรหัสผ่าน </a>
                </ul>
                <br>
                <a class="btn btn-light btn-block" href="{% url 'logout' %}"> <i class="fa fa-power-off"></i> <span class="text">ออกจากระบบ</span> </a>
                <!--   SIDEBAR .//END   -->
            </aside>
            <main class="col-md-9">
                <article class="card">
                    <header class="card-header">
                        <strong class="d-inline-block mr-3"></strong>
                        <span>โปรไฟล์ของฉัน</span>
                    </header>
                    <div class="card-body">
                        <div class="row">
                            <div class="col-6">
                                <ul class="list-group">
                                    <li class="list-group-item">
                                      <strong>ชื่อ:</strong> {{ request.user.first_name }} {{ request.user.last_name }}
                                    </li>
                                    <li class="list-group-item">
                                      <strong>ที่อยู่:</strong> {{ order.address_line_1 }} 
                                      {% if order.address_line_2 %} {{ order.address_line_2 }} {% else %} - {% endif %}
                                    </li>
                                    <li class="list-group-item">
                                        <strong>จังหวัด:</strong> {% if order.state %} {{ order.state }} {% else %} - {% endif %}
                                    </li>
                                    <li class="list-group-item">
                                      <strong>เบอร์โทร:</strong> {{ request.user.phone_number }}
                                    </li>
                                    <li class="list-group-item">
                                      <strong>อีเมลล์:</strong> {{ request.user.email }}
                                    </li>
                                  </ul>
                            </div>
                            <div class="offset-2 col-4">
                              <div class="">
                                <img src="{{ request.user.profile_images.url }}" alt="Profile Picture" id="profile-preview" class="img-fluid rounded-circle" style="max-width: 200px; max-height: 200px;">
                              </div>
                            </div>
                        </div>
                      </div>
                    <!-- card-body .// -->
                    <div class="table-responsive">
                        <table class="table table-hover">
                          <tbody class="bg_table">
                            {% for thing in orders %}
                              <tr>
                                  <td>
                                      <p class="title mb-0 fw-semibold">หมายเลขคำสั่งซื้อ</p>
                                      <span class="">{{ thing.order_number }}</span>
                                  </td>
                                  <td> 
                                    <p class="title mb-0 fw-semibold">ยอดชำระ </p>
                                    <span>
                                      {% if thing.payment.amount_paid %}
                                        {{ thing.payment.amount_paid | floatformat:2 | intcomma }}
                                      {% else %}
                                        ไม่มีการชำระเงิน 
                                      {% endif %} 
                                    </span>
                                  </td>
                                  <td>
                                    <p class="title mb-0 fw-semibold">สถานะคำสั่งซื้อ</p>
                                    <span>
                                      {% if thing.order_status == 'Completed' %}
                                        <span class="badge bg-success">ส่งพัสดุแล้ว</span>
                                      {% elif thing.order_status == 'Accepted' %}
                                        <span class="badge bg-info">ชำระเงินแล้ว</span>
                                      {% elif thing.order_status == 'New' %}
                                        <span class="badge bg-success">รอชำระเงิน</span>
                                      {% else %}
                                        <span class="badge bg-danger">ยกเลิกคำสั่งซื้อ</span>
                                      {% endif %}
                                    </span>
                                  </td>
                                  <td>
                                    <p class="title mb-0 fw-semibold">วันที่สั่งซื้อ</p>
                                    <span>{{ thing.created_at }}</span>
                                  </td>
                                  <td> 
                                    {% if thing.order_status == 'Completed' or thing.order_status == 'Accepted' %}
                                      <a href="{% url 'order_detail' thing.order_number %}" class="btn btn-outline-primary">รายละเอียด</a>
                                    {% endif %}
                                  </td>
                              </tr>
                            {% endfor %}  
                          </tbody>
                        </table>
                    </div>
                    <!-- table-responsive .end// -->
                </article>
                <!-- order-group.// -->
            </main>
        </div>
        <!-- row.// -->
    </div>

</section>
<script>
    function readURL(input) {
      if (input.files && input.files[0]) {
        var reader = new FileReader();
  
        reader.onload = function (e) {
          $('#profile-preview')
            .attr('src', e.target.result);
        };
  
        reader.readAsDataURL(input.files[0]);
      }
    }
  
    $("#profile-picture").change(function(){
      readURL(this);
    });
  </script>
  
{% endblock %}