{% extends 'base.html' %}

{% block content %}
<section class="section-conten padding-y" style="min-height:84vh">
    {% include 'includes/alerts.html' %}
    <div class="container">
        <div class="row">
            <main class="offset-3 col-md-6">
                <article class="card">
                    <header class="card-header">
                        <strong class="d-inline-block mr-3"></strong>
                        <span>ตั้งค่ารหัสผ่านใหม่</span>
                    </header>
                    <div class="card-body">
                        <div class="row">
                            <div class="offset-4 col-4">
                                <form action="{% url 'forgot_password' %}" method="POST">
                                    {% csrf_token %}
                                    <div class="col-12">
                                        <div class="form-group mb-2">
                                            <input type="email" class="form-control" placeholder="Email" name="email">  <!-- การเพิ่มฟิลด์สำหรับกรอก email -->
                                        </div>
                                        <div class="form-group mb-2">
                                            <input type="password" class="form-control" placeholder="สร้างรหัสผ่าน" name="password">
                                        </div>
                                        <div class="form-group mb-2">
                                            <input type="password" class="form-control" placeholder="ยืนยันรหัสผ่าน" name="confirm_password">
                                        </div> 
                                        <div class="form-group">
                                            <button type="submit" class="btn btn-primary btn-block"> ตั้งค่ารหัสผ่านใหม่ </button>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div> <!-- card-body.// -->
                </article>
            </main>
        </div>
    </div>
</section>
{% endblock %}