{% extends 'base.html' %}

{% block content %}

<section class="section-conten padding-y" style="min-height:84vh">
    {% include 'includes/alerts.html' %}
    <div class="container">
        <div class="row">
            <aside class="col-md-3">
                <!--   SIDEBAR   -->
                <ul class="list-group">
                    <a class="list-group-item" href="{% url 'dashboard' %}"> Dashboard </a>
                    <!--<a class="list-group-item" href="{% url 'refund' %}"> การคืนเงิน </a>-->
                    <a class="list-group-item" href="{% url 'setting' %}"> การตั้งค่า </a>
                    <a class="list-group-item active" href="{% url 'reset_password' %}"> เปลี่ยนรหัสผ่าน </a>
                </ul>
                <br>
                <a class="btn btn-light btn-block" href="{% url 'logout' %}"> <i class="fa fa-power-off"></i> <span class="text">ออกจากระบบ</span> </a>
                <!--   SIDEBAR .//END   -->
            </aside>
            <main class="col-md-9">
                <article class="card">
                    <header class="card-header">
                        <strong class="d-inline-block mr-3"></strong>
                        <span>ตั้งค่ารหัสผ่านใหม่</span>
                    </header>
                    <div class="card-body">
                        <div class="row">
                            <div class="offset-4 col-4">
                                <form action="{% url 'reset_password' %}" method="POST">
                                    {% csrf_token %}
                                    <div class="col-12">
                                        <div class="form-group mb-2">
                                            <input type="password" class="form-control" placeholder="สร้างรหัสผ่าน" name="password">
                                        </div> <!-- form-group// -->
                                        <div class="form-group mb-2">
                                            <input type="password" class="form-control" placeholder="ยืนยันรหัสผ่าน" name="confirm_password">
                                        </div> <!-- form-group// -->
                        
                                        <div class="form-group">
                                            <button type="submit" class="btn btn-primary btn-block"> ตั้งค่ารหัสผ่านใหม่ </button>                    
                                        </div>
                                    </div> <!-- form-group// -->
                                </form>
                            </div>
                        </div>
                    </div> <!-- card-body.// -->
                </article>
            </main>
        </div>
    </div>
</section>
{% endblock %}
