{% extends 'base.html' %}
{% load static %}
{% load humanize %}

{% block content %}

<section>
    <div class="container mt-5 mb-5">
        <h1 class="text-center mb-4">ตรวจสอบที่อยู่และทำการชำระเงิน</h1>
        <div class="row">
            <aside class="col-lg-8">
                <form method="POST" action="{% url 'payments' %}">
                    {% csrf_token %}
                    <input type="hidden" name="email" value="{{order.email}}">
                    <input type="hidden" name="amount_paid" value="{{ final_prize }}">
                    <input type="hidden" name="status" value="Pending">
                    <div class="card mb-3">
                        <h3 class="card-header">ที่อยู่สำหรับจัดส่ง</h3>
                        <div class="card-body">
                            <p class="card-text"><b>ชื่อ:</b> {{order.first_name}} {{order.last_name}}</p>
                            <p class="card-text"><b>ที่อยู่:</b> {{order.address_line_1}}</p>
                            {% if order.address_line_2 %}
                            <p class="card-text"><b>ที่อยู่ 2:</b> {{order.address_line_2}}</p>
                            {% endif %}
                            <p class="card-text"><b>จังหวัด:</b> {{order.state}}</p>
                            <p class="card-text"><b>เบอร์โทร:</b>{{order.phone}}</p>
                            <p class="card-text"><b>อีเมลล์:</b> {{order.email}}</p>
                            {% if order.order_note %}
                            <p class="card-text"><b>ข้อความเพิ่มเติม:</b> {{order.order_note}}</p>
                            {% endif %}
                        </div>
                    </div>
                    <div class="card mb-3">
                        <h3 class="card-header">หลักฐานการชำระเงิน</h3>
                        <div class="card-body">
                            <p class="card-text"><b>ราคารวม:</b>฿ {{total | floatformat:2 | intcomma }}</p>
                            <p class="card-text"><b>ค่าส่ง:</b>฿ {{tax | floatformat:2 | intcomma}} </p>
                            {% if coupon is not None %}
                            <p class="text-right text-success"><b>คูปอง:</b>฿{{discount | floatformat:2 | intcomma}} ({{coupon.discount}}%)</p>
                            {% endif %}
                            <p class="card-text"><b>ราคารวมสุทธิ:</b>฿ {{final_prize | floatformat:2 | intcomma}}</p>
                            <div class="row mb-3">
                                {% for field in payment_form.visible_fields %}
                                    <div class="col-6">
                                        <label class="form-label">{{field.label}}</label>
                                        {{field}}
                                    </div>
                                {% endfor %}
                            </div>
                            <button class="btn btn-primary btn-block"> ยืนยันการชำระเงิน </button>
                        </div>
                    </div>
                </form>
            </aside>

            <aside class="col-lg-4">
                <div class="card">
                    <h3 class="card-header">ช่องทางการชำระเงิน</h3>
                    <div class="card-body">
                        <div class="row mb-3">
                            <div class="col-4">
                                <img src="{% static './image/icons/KBANK.png' %}" width="100%">
                            </div>
                            <div class="col-8">
                                <p class="mb-0">เลขบัญชี : xxx-xxx-xxxx</pclass>
                                <p class="mb-0">ชื่อ: นาย ทดสอบ บัญชี</p>
                            </div>
                        </div>
                        <div class="row mb-3">
                            <div class="col-4">
                                <img src="{% static './image/icons/Krungsri.png' %}" width="100%">
                            </div>
                            <div class="col-8">
                                <p class="mb-0">เลขบัญชี : xxx-xxx-xxxx</p>
                                <p class="mb-0">ชื่อ: นาย ทดสอบ บัญชี</p>
                            </div>
                        </div>
                        <div class="row mb-3">
                            <div class="col-4">
                                <img src="{% static './image/icons/SCB.png' %}" width="100%">
                            </div>
                            <div class="col-8">
                                <p class="mb-0">เลขบัญชี : xxx-xxx-xxxx</p>
                                <p class="mb-0">ชื่อ: นาย ทดสอบ บัญชี</p>
                            </div>
                        </div>
                    </div>
                </div>
            </aside>


        </div>
    </div>

    <!-- Add JavaScript files here -->

</section>


{% endblock %}